button {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

button.active {
    background-color: #b71c1c;
}

button:hover {
    background-color: #b71c1c;
}



